
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.interregular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.intermedium{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}
.intersemibold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
.interbold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}
.App{
  background-color: black;
  min-height: 100vh;
}